body {
	background: rgb(0,61,39);
	background: linear-gradient(180deg, rgba(0,61,39,1) 0%, rgba(7,142,90,1) 50%, rgba(68,251,177,1) 100%);
	color: #fff;
	font-family: 'Noto Sans';
	min-height: 100vh;
	max-width: 88vw;
	margin: 5vh auto;
}
	
.container {
	width: 67.5vw;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	gap: 2.5vh;
}

#Left,#Right {
	width: 50%;
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
	}
	#Left, #Right {
		width: 100%;
	}
}

.buttons {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 1.5vh;
	margin-bottom: 5vh;
}

button {
	background: #02733c;
	border: none;
	padding: 0.75vh;
	padding-left: 1.25vh;
	border-radius: 10vh;
	font-size: 2.37vh;
	cursor: pointer;
	transition: 0.3s;
	text-align: left;
	font-family: inherit;
	color: inherit;
	display: inline-flex;
	align-items: center;
}

button:hover {
	background: #5f947e;
}

.icon {
	height: 3vh;
	background: #013d20;
	border-radius: 100vh;
	padding: 0.5vh;
	display: inline-block;
}

#clothesDiv {
	background: #013d20;
	padding: 2.75vh;
	border-radius: 2.75vh;
	text-align: left;
}

#clothesText {
	font-size: 2.37vh;
	line-height: 1.63;
	min-height: 14.5vh;
	vertical-align: top;
}

td {
	padding: 1vh;
}

.tdBottom {
	border-bottom: thick solid white;
}

.titleText {
	margin-bottom: 2.5vh;
	margin: 0;
	font-size: 2.95vh;
	margin-left: 1.5vh;
}

.divTitle {
	display: flex;
	align-items: center;
	margin-bottom: 2.37vh;
}

#locationDiv {
	font-size: 2.88vh;
	text-align: center;
	color: #d3edde;
	min-height: 1vh;
}

#dateDiv {
	font-size: 2.11vh;
	text-align: center;
	color: #d3edde;
	padding-bottom: 4.37vh;
	min-height: 1vh;
}

#weatherTextDiv {
	font-size: 4.37vh;
	text-align: center;
	margin: 0;
}

#weatherTextMain {
	font-size: 3.63vh;
	text-align: center;
	margin: 0;
}

#weatherTextDesc {
	font-size: 2.63vh;
	text-align: center;
	margin: 0;
}

#currentTempDiv {
	font-size: 10.63vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 1vh;
	margin: 0 auto;
	text-align: right;
}

#currentTemp {
	display: grid;
	align-items: center;
}

#feelsLikeTempDiv {
	font-size: 2.88vh;
	text-align: center;
	padding-bottom: 1vh;
}

#currentWeatherIcon {
	height: 100%;
	visibility: hidden;
}

#currentWeatherDiv {
	border-radius: 2.75vh;
	padding: 1.5vh;
	visibility: hidden;
	background: #013d20;
}

#forecastDiv {
	border-radius: 2.75vh;
	padding: 1.5vh;
	visibility: hidden;
	margin-top: 2.5vh;
	background: #013d20;
	padding: 2.75vh;
}

#forecastGridsDiv {
	display: flex;
	overflow-x: auto;
	gap: 3.37vh;
}

.forecastGrid {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.forecastGrid div {
	margin: 0.47vh auto;
	text-align: center;
	align-items: center;
}

#forecastGridsDiv::-webkit-scrollbar {
	height: 0;
}

#forecastGridsDiv:hover::-webkit-scrollbar {
	height: 1.95vh;
	background: inherit;
}

#forecastGridsDiv:hover::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1.5vh rgba(0,0,0,0.3);
	border-radius: 10vh;
	background-color: #f5f5f5;
}

#forecastGridsDiv:hover::-webkit-scrollbar-thumb {
	border-radius: 10vh;
	-webkit-box-shadow: inset 0 0 1.37vh rgba(0,0,0,.3);
	background-color: rgba(68,251,177,1);
}

#forecastGridsDiv:hover::-webkit-scrollbar-thumb:active {
	background: #5f947e;
}

#forecastGridsDiv:hover::-webkit-scrollbar-thumb:hover {
	background: #5f947e;
}

.loading,
.loading div {
	box-sizing: border-box;
}

.loading {
	color: #fff;
	display: block;
	position: relative;
	width: 14.5vh;
	height: 14.5vh;
	margin: 0 auto;
}

.loading div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 80%;
	height: 80%;
	margin: 1.25vh;
	border: 1.25vh solid currentColor;
	border-radius: 50%;
	animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: currentColor transparent transparent transparent;
}

.loading div:nth-child(1) {
	animation-delay: -0.45s;
}

.loading div:nth-child(2) {
	animation-delay: -0.3s;
}

.loading div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.error {
	font-size: 2.11vh;
	text-align: center;
}
